/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

.App {
  width: 100%;
  margin: 10 rem auto;
  height: 570px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .homepage {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

.form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-content: left
}

.form input {
  /* outline: solid; */
  border: black;
  padding: 16px;
  background-color: grey;
  border-radius: 15px;
  border: 1px black;
  box-shadow: 3px 3px 6px #acd7eb;
  margin-bottom: 15%;
}

.home-text {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  align-content: left;
  padding-top: 5rem;
  padding-left: 40rem;
}

.search {
  padding-left: 25%;
  padding-right: 25%
}

.search-and-filter-container{
  /* display: flex; */
  /* flex-direction: column; */
  /* margin:  1rem auto; */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-bottom: 16px;
  border-radius: 15px;

 }
.search-bar form{
  outline: solid;
  border: black;
  padding: 16px;
  background-color: grey;
  border-radius: 15px;
  border: 1px black;
  box-shadow: 3px 3px 6px #acd7eb;
}
.search-bar input {
  display: block;
  outline: solid;
  border: black;
  padding: 16px;
  border-radius: 15px;
  transition: 0.4s;
}

.group-title {
  padding-left: 100%;
  margin-right: -50%;
  color: gray;
}
.navbar-container{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 2%;
  padding-right:3%;
  padding-left:3%;
  padding-bottom: 2%;
  background-color:rgb(48, 48, 118);

}

.nav-links{
  display: flex;
  justify-content: center;
  max-width: 95%;
  
  /* margin-right: 5rem; */
}

.nav-links{
  margin-left: 400;

}

.nav-links li{
  margin-left: 20px;
  list-style: none;
  padding: 14px;
  border-radius: 8px;
  color: white;
  /* box-shadow: 1px 1px 2px black; */
  width: 200px;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 52px;
  margin-top: 42px;
}

.nav-links a {
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  align-content: center;
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */

}


.card-container {
  width: 96%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;

}

.card-spacing {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: left;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 50px
}

div.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: left;
}

.cards-ul {
  list-style: none;
  padding-left: 2.5%;
}

.card-li {
  padding-left: 2.5%;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  align-content: center;

}

.card {
  padding-left: 2.5%;
  border-radius: 25px;
  border-style: solid;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  align-content: center;
}

.card-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;

}
button {
  margin-left: 10px;
  marging-bottom: 10px;
  list-style: none;
  /* outline: solid; */
  border: whitesmoke;
  padding: 8px;
  background-color: rgba(208, 96, 27, 0.942);
  border-radius: 8px;
  color: white;
  box-shadow: 2px 2px 4px black;
  width: 9rem;
  font-size: 18px;
}

.logo-container {
  max-width: 40%;
  height:auto;
  /* padding-top: 2.5%; */
  /* padding-bottom: 2.5%; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right:-18%;
}
.logo {
  max-width:40%;
  height:auto;
  border-radius: 40%;
}

.login-home {
  padding-top: 2.5%;
}

.home-welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content:center;
}

.form-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-horizontal label {
  padding-left: 6px;
  padding-right: 6px
}

.nav-logo {
  /* padding-right:5%; */
  margin-top:25px;
  margin-left: -300px;
  width:50%;
  height:auto;
  border-radius: 25px;
}

.nav-links-login {
  display:flex;
  flex-direction: row;
  justify-content: left;
  
}

.nav-links-login li {
  /* margin-left: 20px; */
  list-style: none;
  border: black;
  padding: 8px;
  background-color: rgba(208, 96, 27, 0.942);
  border-radius: 8px;
  color: white;
  box-shadow: 1px 1px 2px black;
  width: 200px;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 112.5px;
  margin-top:75px;
  margin-left:2%;
}

.nav-links-login a {
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  align-content: center;
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */

}

.footer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.paragraph {
  padding-left: 20%;
  padding-right:25%;
  margin-top: 30px;
  
}

.paragraph p {
  font-size: 20px;
}
