@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  width: 40%;
  margin: 10 rem auto;
  /* height: 570px; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}  */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.homepage {
  padding-left: 100%;
}

.search {
  padding-left: 100%;
}

.search-and-filter-container{
  /* display: flex; */
  /* flex-direction: column; */
  /* margin:  1rem auto; */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-bottom: 16px;
  border-radius: 15px;

 }
.search-bar form{
  outline: solid;
  border: black;
  padding: 16px;
  background-color: grey;
  border-radius: 15px;
  border: 1px black;
  box-shadow: 3px 3px 6px #acd7eb;
}
.search-bar input {
  display: block;
  outline: solid;
  border: black;
  padding: 16px;
  border-radius: 15px;
  transition: 0.4s;
}

.group-title {
  padding-left: 100%;
  margin-right: -50%;
  color: gray;
}
.navbar-container{
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: left;
  /* top: 0; */
  /* z-index: 110; */
}

.nav-links{
  display: flex;
  margin-right: 5rem;
}
.nav-links li{
  margin-left: 10px;
  list-style: none;
}
.nav-links a{
  font-size: 1.25rem;
  font-weight: 300;
  color: black;
  text-decoration: none;
  margin-right: 1rem;
}


/* .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: left;
} */

.card-spacing {
  padding-left: 25px;
}

.card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: left;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 50px
}

div.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: left;
  padding-left: 25px;
  padding-right: 25px
}

.cards-ul {
  list-style: none;
  padding-left: 2.5%;
}

.card-li {
  padding-left: 2.5%
}

.card {
  padding-left: 2.5%;
  border-radius: 25px;
  border-style: solid;
}

.container {
  padding-left: 100%;
}